# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
**/.env

# Permitir arquivos de exemplo
!.env.example
!**/.env.example

# Uploads
backend/src/uploads/*
!backend/src/uploads/.gitkeep

# Logs
*.log
logs/

# Build
dist/
build/

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Arquivos enviados pelos usuários não são versionados.
backend/src/uploads/**/*

# Mantemos somente a estrutura das pastas no Git.
!backend/src/uploads/.gitkeep
!backend/src/uploads/pets/
!backend/src/uploads/pets/.gitkeep